.slick-prev:before,
.slick-next:before {
  color: red !important;
  font-size: 2rem !important;
  display: block !important;
}
.slick-prev:before {
  margin-left: 40px;
}
.slick-next:before {
  margin-left: -30px;
}
.width-item {
  width: 100% !important;
  height: 100% !important;
}
