.styleall{
    background-size: contain;
    position: relative;
}
.style{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    top: 0;
    background: rgba(7,10,12,.72);
    backdrop-filter: blur(4px);
   
}