@tailwind base;
@tailwind components;
@tailwind utilities;

/* default setup */
html {
  scroll-behavior: smooth;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

a {
  text-decoration: none;
}

/* adjust css of sweet_alert */
.swal-modal .swal-footer {
  display: flex;
  justify-content: center;
}

/* adjust css of CkEditor */
.ck .ck-content {
  height: 200px;
}
